.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.line {
  position: absolute;
  left: 180px;
  top: 175px;
  width: 170px; /* 直線の長さ */
  /* height: 2px; 直線の太さ */
  background-color: darkblue; /* 直線の色 */
  transform: rotate(65deg); /* 45度回転して斜めに表示 */
}
.line2 {
  position: absolute;
  left: 50px;
  top: 248px;
  width: 1300px;
  background-color: mediumaquamarine;
}
.line3 {
  position: absolute;
  left: 900px;
  top: 253px;
  width: 150px;
  background-color: orange;
}
.line4 {
  position: absolute;
  left: 815px;
  top: 530px;
  width: 570px;
  background-color: orange;
  transform: rotate(80deg);
}
.line5 {
  position: absolute;
  left: 1164px;
  top: 200px;
  width: 127px;
  background-color: yellow;
  transform: rotate(65deg);
}
.line6 {
  position: absolute;
  left: 800px;
  top: 150px;
  width: 400px;
  background-color: yellow;
}
.line7 {
  position: absolute;
  left: 1279px;
  top: 310px;
  width: 110px;
  background-color: red;
  transform: rotate(107deg);
}
.line8 {
  position: absolute;
  left: 1075px;
  top: 420px;
  width: 270px;
  background-color: red;
  transform: rotate(149deg);
}
.line9 {
  position: absolute;
  left: 695px;
  top: 486px;
  width: 400px;
  background-color: red;
}
.line10 {
  position: absolute;
  left: 265px;
  top: 590px;
  width: 450px;
  background-color: red;
  transform: rotate(153deg);
}
.line11 {
  position: absolute;
  left: 110px;
  top: 789px;
  width: 160px;
  background-color: blue;
}
.line12 {
  position: absolute;
  left: 230px;
  top: 733px;
  width: 100px;
  background-color: blue;
  transform: rotate(102deg);
}
.line13 {
  position: absolute;
  left: 560px;
  top: 660px;
  width: 350px;
  background-color: darkred;
  transform: rotate(138deg);
}
.line14 {
  position: absolute;
  left: 840px;
  top: 520px;
  width: 85px;
  background-color: darkred;
  transform: rotate(130deg);
}
.line15 {
  position: absolute;
  left: 605px;
  top: 772px;
  width: 100px;
  background-color: palevioletred;
}
.line16 {
  position: absolute;
  left: 695px;
  top: 713px;
  width: 430px;
  background-color: palevioletred;
  transform: rotate(164deg);
}
.line17 {
  position: absolute;
  left: 1120px;
  top: 650px;
  width: 230px;
  background-color: palevioletred;
}
.line18 {
  position: absolute;
  left: 1110px;
  top: 570px;
  width: 250px;
  background-color: skyblue;
}
.line19 {
  position: absolute;
  left: 950px;
  top: 530px;
  width: 170px;
  background-color: skyblue;
  transform: rotate(30deg);
}
.line20 {
  position: absolute;
  left: 695px;
  top: 491px;
  width: 270px;
  background-color: skyblue;
}
.line21 {
  position: absolute;
  left: 1150px;
  top: 809px;
  width: 60px;
  background-color: orange;
}

.dep {
  display: inline-block;
  line-height: 55%;
  vertical-align: middle;
}

.depbox {
  width: 50%;
  height: 45px;
  float: left;
  white-space: nowrap;
  display: flex;
}

.station {
  width: 15px;
  height: 15px;
  background-color: whitesmoke;
  border-radius: 50%; /* 丸い形状にするために必要 */
  border: solid 2px black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
